@{ 
    ViewBag.Title = "Password Reset success";
}


<div class="container" style="padding: 7em 0; ">
    <div class="row justify-content-center">
        <div class="col text-center">
            <h1 class=""style="color: rebeccapurple">
                    PASSWORD RESET SUCCESSFUL ✨
            </h1>
            <h3 class="m-2">
                WELCOME BACK 🧾🧾🧾
            </h3>
        </div>
    </div>
</div>