@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Upgrade";
}

<div class="container m-5 p-lg-2 d-flex justify-content-center" >
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Special Offer</h5>
            <p class="card-text">Become <span style="color: darkorchid"> an evangelist @ViewBag.Next </span> for just $15/year and get access to more amazing features.</p>
            <a asp-action="Advert" asp-controller="Post" class="btn btn-danger">Click to Upgrade</a>
        </div>
        <div class="card-footer text-muted ">
            30days trial period!!!
        </div>
    </div>
</div>
